<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.marto.my_school_revierwer_4">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/logo"
        android:label="MY SCHOOL REVIEWER"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Splash_Screen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Home_two" ></activity>
        <activity android:name=".Signing_up_class" ></activity>
        <activity android:name=".Signing_institution" ></activity>
        <activity android:name=".Signing_reviewer" ></activity>
        <activity android:name=".Insitution_home"></activity>
        <activity android:name=".Home_one"></activity>
        <activity android:name=".Intro_institution"></activity>
    </application>

</manifest>